<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="./script.js" defer></script>
    <title>Sidebar - Component</title>
  </head>
  <body>
    <template id="template-app-footer">
      <footer class="footer">
        <nav>
          <a href="#home">Quem somos</a>
          <a href="#about">FAQ</a>
          <a href="#contact">Termos de uso</a>
          <a href="#contact">Política de privacidade</a>
        </nav>
        © 2025 Trade Skills. Todos os direitos reservados.
      </footer>
    </template>
  </body>
</html>
